    <section id="actions" class="py-4 mb-4 .bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="logo_centro"></div>
                    </div>
                </div>
            </div>
        </section>

        <section id="login">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <div class="card">
                            <div class="card-header">
                                <h1>Login</h1>
                            </div>
                            <div 
                                class="card-body">
                                <form action="/links/add" method="POST" >
                                    <div class="form-group">
                                        <label for="username">Username:</label>
                                        <input type="text" name="username" id="username" autofocus/> 
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="password">Password:  </label>
                                        <input type="password" name="password" id="password"/>
                                    </div>
                                    <br/>
                                     <input type="submit" value="Login" <button class="btn btn-secondary btn-lg btn-block"></button>
                                </form>
                            </div>                    
                        </div> 
                    </div>
                </div> 
        </section>